body {
	background-color: #e1e1e1;
	}

	/* ヒーローイメージを包む要素のスタイル */
	.hero-image {
	background-size: cover;
	background-color: #767676;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px;
	height: 300px;
	}

	/* ヒーローイメージ内のテキストのスタイル */
	.hero-text {
	width: 100%;
	font-size: 1rem;
	font-weight: bold;
	color: #373636;
	}
	.hero-text  h1{
	color: #ececec;
	}

	.hero-text button {
	height: 40px;
	width: 15%;
	padding: 5px;
	background: #ffffff;
	}
	/* Input container */

	.search-container {
	display: flex;
	justify-content: space-between;
	margin: 20px;
	}

	.input-container {
	position: relative;
	margin: 20px;
	flex: 1;
	margin-right: 1rem;
	width: 10%;
	}

	form {
	display: flex;
	width:100%;
	}

	/* Input field */
	.input-field {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-bottom: 2px solid #ccc;
	outline: none;
	background-color: transparent;
	color: #373636;
	}

	select {
	margin-top: 4.5px;  
	}

	/* Input label */
	.input-label {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
	color: rgba(204, 204, 204, 0);
	pointer-events: none;
	transition: all 0.3s ease;
	}

	/* Input highlight */
	.input-highlight {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	background-color: #007bff;
	transition: all 0.3s ease;
	}

	/* Input field:focus styles */
	.input-field:focus + .input-label {
	top: -20px;
	font-size: 12px;
	color: #007bff;
	}

	.input-field:focus + .input-label + .input-highlight {
	width: 100%;
	}

	button,
	input[type="submit"] {
	padding: 15px 25px;
	border: unset;
	border-radius: 15px;
	color: #373636;
	z-index: 1;
	background: #ffffff;;
	position: relative;
	font-weight: 1000;
	font-size: 17px;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	transition: all 250ms;
	overflow: hidden;
	height: 50px;
	margin-top: 17px;
	}

	button::before,
	input[type="submit"]::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 15px;
	background-color: #212121;
	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	transition: all 250ms
	}

	button:hover,
	input[type="submit"]:hover {
	color: #e8e8e8;
	}

	button:hover::before,
	input[type="submit"]:hover::before {
	width: 100%;
	}

	.container {
	max-height: 1000px; /* 表示する高さを指定 */
	margin: 50px;
	overflow-y: scroll;
	}
	.entry {
	background-color: #ffffff; 
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 20px;
	margin: 10px;
	}

	.entry div {
	  display: flex; 
	  align-items: center;
	  margin-bottom: 10px
	}

	.entry h2 {
	  font-size: 20px;
	  margin: 0;
	  color: #373636;
	}

	.entry p {
	  font-size: 16px;
	  margin: 0;
	  color: #888888
	}

	nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 1rem;
	margin: 20px;
	}

	nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	}

	nav li {
	margin: 0 0.5rem;
	}

	nav a {
	color: #333;
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
	padding: 0.5rem;
	border-radius: 8px;
	transition: all 0.2s ease-in-out;
	}

	nav a:hover {
	background-color: #f2f2f2;
	}
