<!DOCTYPE html>
<html>
<head>
  <title>扉開閉スイッチ</title>
</head>
<body>
  <form method="POST">
    <select name="go_out">
      <option value="go">出発</option>
      <option value="return">帰館</option>
    </select>
    <input type="text" name="door_date" value="{{local_date}}">
    <input type="time" name="door_time" value="{{local_tim}}">
    <select name="resident_id" placeholder="名前">
      <option>選択してください</option>
      {% for resident in residents %}
        <option value="{{ resident[0] }}{{ resident[4] }}">{{ resident[1] }}:{{ resident[0] }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="送信">
  </form>
 
	{% block content %}
    {% for day_record in today %}
        <p>{{ day_record[0] }} 外出時間:{{ day_record[1] }} {{ day_record[2] }}</p>
        <p>帰館時間:{{ day_record[3] }} {{ day_record[4] }}</p>
        <hr>
    {% endfor %}

  {% endblock %} 

</body>
</html>
