{% extends "layout.html" %} 

{% block content %}
  <div>
      <div class="search-container">
        <div class="input-container">
          <input class="input-field" id="flask_day" type="date">
          <label for="input-field" class="input-label">日付</label>
          <span class="input-highlight"></span>
        </div>
        <div class="input-container">
          <select class="input-field" name="resident_id" id="resident_id">
            <option value=-1>選択してください</option>
            {% for resident in residents %}
              <option value="{{ resident[0] }}">{{ resident[1] }}</option>
            {% endfor %}
          </select>
          <label for="input-field" class="input-label">氏名</label>
          <span class="input-highlight"></span>
        </div>
        <div class="input-container">
          <select class="input-field" name="resident_id" id="return_check">
            <option value="all_record">状態を選択</option>
            <option value="return">帰館</option>
            <option value="no_return">未帰館</option>
          </select>
          <label for="input-field" class="input-label">状態</label>
          <span class="input-highlight"></span>
        </div>

        <button class="index_btn" onClick="test()"> 検索
        </button>
      </div>
      <div class="search-container">
        <form method="POST">
        <div class="input-container">
          <select class="input-field" name="go_out">
            <option value="go">出発</option>
            <option value="return">帰館</option>
          </select>
          <label for="input-field" class="input-label">状態</label>
          <span class="input-highlight"></span>
        </div>
        <div class="input-container">
          <input class="input-field" type="date" id="today" name="door_date">
          <label for="input-field" class="input-label">日付</label>
          <span class="input-highlight"></span>
        </div>
        <div class="input-container">
          <input class="input-field" type="time" name="door_time" value="{{local_time}}">
          <label for="input-field" class="input-label">時間</label>
          <span class="input-highlight"></span>
        </div>
        <div class="input-container">
          <select class="input-field" name="select_resident_id" placeholder="名前">
            <option>氏名を選択</option>
            {% for resident in residents %}
            <option value="{{ resident[0] }}{{ resident[4] }}">{{ resident[1] }}:{{ resident[0] }}</option>
            {% endfor %}
          </select>
          <label for="input-field" class="input-label">氏名</label>
          <span class="input-highlight"></span>
        </div>
        <button class="index_btn" type="submit">登録</button>
      </form>
      </div>
      
      <hr>
      <div class="container">
        {% for day_record in today %}
        <div class="entry">
              <h2>{{ day_record[0] }}: {{ day_record[5] }}</h2>
              <p> 外出時間:{{ day_record[1] }} {{ day_record[2] }}    帰館時間:{{ day_record[3] }} {{ day_record[4] }}</p>
	      {% if day_record[6] == 'no' %}
	      <p>ネットワーク:安定</p>
	      {% elif day_record[6] == 'error' %}
	      <p>ネットワーク:不安定</p>
	      {% endif %}
              <hr>
        </div>
        {% endfor %}
      </div>
        {{ pagination.links }}
  <script>
    if('{{auth_staff}}' === 'no staff' ) {
      window.location.href = window.location.origin + '/sign_in'
    }
    var today = new Date();
    var flask_day = new Date({{day_value|tojson}});
    
    function make_day(day) {
      day.setDate(day.getDate());
      var yyyy = day.getFullYear();
      var mm = ('0' + (day.getMonth() + 1)).slice(-2);
      var dd = ('0' + day.getDate()).slice(-2);
      return yyyy + '-' + mm + '-' + dd;
    }
    
    flask_day = make_day(flask_day)
    document.getElementById('flask_day').value = {{page_value|tojson}};
    document.getElementById('today').value = {{page_value|tojson}}
     if ({{page_value|tojson}} == flask_day + ' ') {
      document.getElementById('today').value = ({{page_value|tojson}}).slice(0,-1)
    }
    document.getElementById('resident_id').value = {{resident_data|tojson}}
    document.getElementById('return_check').value = {{return_check|tojson}}
    console.log(document.getElementById('flask_day').value)
    if(!document.getElementById('flask_day').value) {
      document.getElementById('flask_day').value = make_day(today)
    }
    
    var page_value = document.getElementById('flask_day').value
    var resident_id = document.getElementById('resident_id').value
    var return_check = document.getElementById('return_check').value
    function test() {
      window.location.href = window.location.origin + '/' + document.getElementById('flask_day').value + '/' + document.getElementById('resident_id').value + '/' + document.getElementById('return_check').value
    }

  </script>
  {% endblock %}

